<h3>以下の内容でツイートします。いいですか？</h3>

<%= form_with(model: @clotter, url: clotters_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p><%= @clotter.content %></p>
  <%= form.submit  "ツイ〜トする" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>