
<div class="top_home">
  <span>ホーム</span>
  <div class="tweet-btn_mini_float">
  <%= image_tag "kirakira.png", size: '30x30' %>
  </div>
</div>
<div class="top_box">
  <%= image_tag "trump.png", size: '50x50', class: "account_pic" %>
  <span class="now">いまどうしてる？</span>
</div>
<div class="top_box_btn">
  <div class="tweet-btn_mini_float">
    <%= link_to 'ツイ〜ト', new_clotter_path , class: "tweet-btn_mini" %>
  </div>
</div>
<div class="bold_border"></div>
<% @clotter.each do |clotter| %>
<div class="tweet_box">
  <table>
    <tr>
      <td class="pic">
        <%= image_tag "trump.png", size: '50x50', class: "account_pic" %>
      </td>
      <td class="name_and_content">
        <span class="account_name">Donald F. Trump</span>
        <span class="account_name_thin">@fakeDonaldTrump・</span>
        
        <div class="main_tweet"><%= clotter.content %></div>
      </td>
      <td class="edit">
        <%= link_to edit_clotter_path(clotter.id) do %>
          <%= image_tag "edit.png", size: '14x14' %>
        <% end %>
      </td>
      <td class="edit">
      <%= link_to clotter_path(clotter.id), method: :delete ,data: { confirm: 'ツイ〜トを削除しますか？' } do %>
        <%= image_tag "delete.png", size: '14x14' %>
      <% end %>
      </td>
    </tr>
  </table>
</div>
<% end %>



