<!DOCTYPE html>
<html>
  <head>
    <title>ClotterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header clearfix">
    <%= link_to clotters_path do %>
      <%= image_tag "logo.png", size: '50x50'%>
    <% end %>
    <p> ○ ホーム</p>
    <p> ○ 話題を検索</p>
    <p> ○ 通知</p>
    <p> ○ メッセージ</p>
    <p> ○ ブックマーク</p>
    <p> ○ リスト</p>
    <p> ○ プロフィール</p>
    <p> ○ もっと見る</p>
    <%= link_to 'ツイ〜ト', new_clotter_path, class: "tweet-btn" %>
    </header>
    <article class="tweets">
    <%= yield %>
    </article>
    <aside class="right_menu">
    右メニュー
    <footer class="footer">
    フッターです
    </footer>
    </aside>
  </body>
</html>
